<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Менеджер Гаманців</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Ваші гаманці</h1>
    {% if wallets %}
        <ul>
            {% for currency, balance in wallets.items() %}
                <li><strong>{{ currency }}</strong>: {{ balance }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Гаманці відсутні.</p>
    {% endif %}
    
     <h2>Конвертувати валюту</h2>
    <form action="/convert" method="post">
        <label>З валюти:</label>
        <input type="text" name="from_currency" placeholder="наприклад, USD" required>
        <label>У валюту:</label>
        <input type="text" name="to_currency" placeholder="наприклад, EUR" required>
        <label>в каком кошельке:</label>
        <input type="text" name="wallet_name" placeholder="наприклад, wallet1" required>
        <label>Сума:</label>
        <input type="number" name="amount" step="0.01" required>
        <input type="submit" value="Конвертувати">
    </form>
    <a href="http://127.0.0.1:5000">
        <button>меню</button>
    </a>

</body>
</html>
