<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Менеджер Гаманців</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
    <h1>Ваші гаманці</h1>
    {% if wallets %}
        <ul>
            {% for currency, balance in wallets.items() %}
                <li><strong>{{ currency }}</strong>: {{ balance }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Гаманці відсутні.</p>
    {% endif %}

    <div class="mainbar"> 
        
        <a href="http://127.0.0.1:5000/create_wallet" class="button"><button>создать кошелек</button></a> 
        
        <a href="http://127.0.0.1:5000/convert" class="button"><button>конвертировать валюту</button></a> 
        
        <a href="http://127.0.0.1:5000/set_rate" class="button"><button>Перейти</button></a>
    </div>

    <h2>Створити новий гаманець</h2>
    <form action="/create_wallet" method="post">
        <label>Валюта:</label>
        <input type="text" name="currency" placeholder="наприклад, USD" required>
        <label>Початковий баланс:</label>
        <input type="number" name="balance" step="0.01" required>
        <input type="submit" value="Створити гаманець">
    </form>

    <h2>Конвертувати валюту</h2>
    <form action="/convert" method="post">
        <label>З валюти:</label>
        <input type="text" name="from_currency" placeholder="наприклад, USD" required>
        <label>У валюту:</label>
        <input type="text" name="to_currency" placeholder="наприклад, EUR" required>
        <label>Сума:</label>
        <input type="number" name="amount" step="0.01" required>
        <input type="submit" value="Конвертувати">
    </form>

    <h2>Встановити курс обміну</h2>
    <form action="/set_rate" method="post">
        <label>З валюти:</label>
        <input type="text" name="from_currency" placeholder="наприклад, USD" required>
        <label>У валюту:</label>
        <input type="text" name="to_currency" placeholder="наприклад, EUR" required>
        <label>Курс:</label>
        <input type="number" name="rate" step="0.0001" required>
        <input type="submit" value="Зберегти курс">
    </form>
    <h2>Очистити всі гаманці</h2>
    <form action="/reset" method="post">
        <input type="submit" value="Очистити все" style="background-color: red;">
    </form>
    
</body>
</html>
