<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Менеджер Гаманців</title>
    <link rel="stylesheet" href="static/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="mainbar"> 
        <img class="bom" src="static/image/лицо.png" width="32" height="32">
        <a href="http://127.0.0.1:5000/create_wallet" class="button"><button>создать кошелек</button></a> 
        
        <a href="http://127.0.0.1:5000/convert" class="button"><button>конвертировать валюту</button></a> 
        
        <a href="http://127.0.0.1:5000/set_rate" class="button"><button>курс обміну</button></a>
    </div>

    <h1>Менеджер Гаманців</h1>
    <p>Контролюй свої фінанси легко і швидко</p>
    <section>
        <h2>Що вміє цей сайт?</h2>
        <ul>
          <li>Створення гаманців у різних валютах (USD, EUR, BTC тощо)</li>
          <li>Перегляд і оновлення балансу</li>
          <li>Конвертація між валютами за заданим курсом</li>
          <li>Збереження історії транзакцій</li>
          <li>Можливість повного скидання всіх даних</li>
        </ul>
      </section>
      <h1>Ваші гаманці</h1>
    {% if wallets %}
        <ul>
            {% for currency, balance in wallets.items() %}
                <li><strong>{{ currency }}</strong>: {{ balance }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Гаманці відсутні.</p>
    {% endif %}
      <footer>
        <p>© 2025 Менеджер Гаманців. Створено вами з ❤️</p>
        <a href="https://github.com/SilentKeeper1/Saurum/tree/main" target="_blank">Вихідний код</a>
      </footer>
                
    
</body>
</html>
